<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>所有會員資料 </title>
<link rel="stylesheet" th:href="@{/css/index3.css}">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- dataTables -->
<script
	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />


<!-- dataTables -->


<style>
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 32px;
}
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px; /* 搜尋框與表格的距離 */
}
.dataTables_length {
    margin: 15px 0; 
}
#example {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* 讓表格固定 */
}
#example th, #example td {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff; /* 設置所有表格內容背景為白色 */
    overflow: hidden;
    font-size: 0.8rem;
    text-overflow: ellipsis; /* 顯示省略號 */
}
#example th {
    background-color: #f2f2f2;
}
#example td {
    background-color: #fff !important; /* 設置所有表格內容背景為白色 */
}
:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --dt-row-selected: 255, 255, 255; /* 覆蓋選中行背景顏色 */
    --dt-row-selected-text: 0, 0, 0; /* 覆蓋選中行文本顏色 */
    --dt-row-selected-link: 0, 0, 0; /* 覆蓋選中行鏈接顏色 */
    --dt-row-stripe: 255, 255, 255; /* 覆蓋條紋行背景顏色 */
    --dt-row-hover: 255, 255, 255; /* 覆蓋懸停行背景顏色 */
    --dt-column-ordering: 0, 0, 0;
    --dt-html-background: white;
    --dt-row-default-bg: 245, 245, 245; /* 行的默認背景顏色 */
    --dt-row-hover-bg: 255, 255, 255; /* 滑鼠指向行的背景顏色 */
}
table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
    box-shadow: none;
}
#table-controls {
    display: flex; 
    justify-content: flex-end;
}
.right-pane {
    width: 77%; /* 調整頁面的寬度 */
    margin-right: 20px;
    text-align: center;
}
img.small {
    width: 30px; 
    height: 30px; 
}

</style>
</head>
<body>
<div class="main-container">
		<div th:replace="fragments/back-end-header-items :: sidebar1"></div>




		<div class="right-pane">
		<!-- star -->
		<div align="center">
		
			<h1>MorningCode 所有會員資料 
				<img
					th:src="@{/images/hihihi.gif}" class="small" ><label th:text="${success}"></label>
			</h1>
		
		
		
					<!-- 新增會員按鈕 -->
	<div id="table-controls">
    <div id="addMemButton" class="addmem">
       <a th:href="@{/mem/addMem}" style="display: inline-block; padding: 10px 20px; background-color: #a9b7aa; font-weight: bold; color: white; text-decoration: none; border-radius: 5px;">+ 新增會員</a>
    </div>
</div>
		
		
		
		
		<table id="example" class="display" >
		<thead>
		<tr style="background-color: #CCCCFF">
				
				<th>會員編號</th>
				<th>會員帳號</th>
				<th>會員姓名</th>
				<th>員工密碼</th>
				
				<th>電話</th>
				<th>身分證</th>
				<th>性別</th>
				<th>生日</th>
				<th>驗證</th>
				<th style="width: 75px;">照片</th>
	

				<th>功能</th>
			
			</tr>
		</thead>
			
		<tbody>
			<th:block th:each="memVO : ${memListData}">
				<tr>
					
					<td th:text="${memVO.memNo}"></td>
					<td th:text="${memVO.memEmail}"></td>
					<td th:text="${memVO.memName}"></td>
					<td th:text="${memVO.memPassword}"></td>
				
					<td th:text="${memVO.memPhone}"></td>
					<td th:text="${memVO.memUid}"></td>
					<td th:text="${memVO.memSex}"></td>
					<td th:text="${memVO.memDob}"></td>
					
					
					<td><span th:if="${memVO.memVerified == 0}">未驗證</span>
					 <span th:if="${memVO.memVerified == 1}">已驗證</span></td>
					
					
					<td><img th:src="@{/mem/DBGifReader1} + '?memno=' + ${memVO.memNo}" width="75px" ></td>
					
					<td>
								<button th:onclick="'editMem(' + ${memVO.memNo} + ')'"
									class="btn btn-primary btn-sm">修改</button>


							</td>

					
				</tr>
			</th:block>
		</tbody>
		</table>
		</div>
		<!-- end -->
		</div>
</div>		


</body>

<script th:inline="javascript">
$(document).ready(function() {
    $("a.aa").on("click", function() {
        var $li = $(this).closest("li");
        $li.find("div.menu-item-1").slideToggle();
        $li.siblings().find(".menu-item-1").slideUp();
    });

    function redirectTo(url) {
        window.location.href = url;
    }

    $('#example').DataTable({
        "lengthMenu": [3, 5, 10, 20, 50, 100],
        "searching": false, // 搜尋功能, 預設是開啟
        "paging": true, // 分頁功能, 預設是開啟
        "ordering": true, // 排序功能, 預設是開啟
        "language": {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "顯示 _MENU_ 筆結果",
            "zeroRecords": "沒有符合的結果",
            "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
            "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
            "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        }
    });
});


<!--swal-->
function editMem(memNo) {
    $.get("/mem/getOne_For_Update", { memNo: memNo })
        .done(function(memVO) {
            if (memVO) {
            	 originalMemData = memVO;
                Swal.fire({
                    title: '修改會員資料',
                    html: `<form id="editMemForm">
                            <input type="hidden" id="editMemNo" value="${memVO.memNo}">
                            <label>會員姓名</label>
                            <input id="editMemName" class="swal2-input" type="text" value="${memVO.memName}" placeholder="會員姓名">
                            <label>會員帳號</label>
                            <input id="editMemEmail" class="swal2-input" type="email" value="${memVO.memEmail}" placeholder="會員帳號">
                            <label>會員密碼</label>
                            <input id="editMemPassword" class="swal2-input" type="password" value="${memVO.memPassword}" placeholder="會員密碼" readOnly/>
                            <label>會員地址</label>
                            <input id="editMemAddress" class="swal2-input" type="text" value="${memVO.memAddress}" placeholder="會員地址">
                            <label>會員電話</label>
                            <input id="editMemPhone" class="swal2-input" type="text" value="${memVO.memPhone}" placeholder="會員電話">
                            <label>會員身分證</label>
                            <input id="editMemUid" class="swal2-input" type="text" value="${memVO.memUid}" placeholder="會員身分證">
                            <label>會員生日</label>
                            <input id="editMemDob" class="swal2-input" type="date" value="${memVO.memDob}" placeholder="會員生日">
                          	<br><br>
                            <label>會員性別</label>
                            <select id="editMemSex" class="swal2-input">
                                <option value="M" ${memVO.memSex === 'M' ? 'selected' : ''}>男</option>
                                <option value="F" ${memVO.memSex === 'F' ? 'selected' : ''}>女</option>
                            </select>
                              <label>會員狀態</label>
                            <select id="editMemVerified" class="swal2-input">
                                <option value="0" ${memVO.memVerified === 0 ? 'selected' : ''}>未驗證</option>
                                <option value="1" ${memVO.memVerified === 1 ? 'selected' : ''}>已驗證</option>
                            </select>
                          </form>`,
                    focusConfirm: false,
                    showCancelButton: true,
                    confirmButtonText: '修改',
                    cancelButtonText: '取消',
                    preConfirm: () => {
                    	
                    	  const memName = document.getElementById('editMemName').value;
                    	    const memEmail = document.getElementById('editMemEmail').value;
                    	    const memPhone = document.getElementById('editMemPhone').value;
                    	    const memUid = document.getElementById('editMemUid').value;
                    	    const memDob = document.getElementById('editMemDob').value;
                    	    const memSex = document.getElementById('editMemSex').value;
                    	
                    	    
                    	    if (!memName || !memEmail || !memPhone || !memUid || !memDob || !memSex) {
                    	        Swal.showValidationMessage('請填寫所有必填欄位');
                    	        resetToOriginalData();
                    	        return false;
                    	    }
                    	    
                    	    // Email 
                    	    const emailRegex = /^[a-zA-Z0-9._%+-]+@gmail\.com$/;
                    	    if (!emailRegex.test(memEmail)) {
                    	        Swal.showValidationMessage('會員email必需@gmail.com結尾');
                    	        resetToOriginalData();
                    	        return false;
                    	    }

                    	    // Phone 
                    	    const phoneRegex = /^\d{10}$/;
                    	    if (!phoneRegex.test(memPhone)) {
                    	        Swal.showValidationMessage('會員電話長度必需為10位數字');
                    	        resetToOriginalData();
                    	        return false;
                    	    }

                    	    // ID 
                    	    const idRegex = /^[A-Z]\d{9}$/;
                    	    if (!idRegex.test(memUid)) {
                    	        Swal.showValidationMessage('身分證號碼格式錯誤：首位為英文大寫，後9位為數字');
                    	        resetToOriginalData();
                    	        return false;
                    	    }
                    	    
                    	    
                        return {
                            memNo: document.getElementById('editMemNo').value,
                            memName: memName,
                            memEmail: memEmail,
                            memPassword: document.getElementById('editMemPassword').value,
                            memAddress: document.getElementById('editMemAddress').value,
                            memPhone: memPhone,
                            memDob: memDob,
                            memUid: memUid,
                            memSex: memSex,
                            memVerified: document.getElementById('editMemVerified').value
                        };
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        const memData = result.value;
                        $.ajax({
                            url: '/mem/update',
                            type: 'POST',
                            data: memData,
                            success: function(response) {
                                if (response === 'success') {
                                    Swal.fire({
                                        icon: 'success',
                                        title: '會員資料修改成功!',
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then(() => {
                                        location.reload();
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: '會員資料修改失敗',
                                        text: response
                                    });
                                }
                            },
                            error: function() {
                                Swal.fire({
                                    icon: 'error',
                                    title: '會員資料修改失敗!'
                                });
                            }
                        });
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '找不到會員',
                    text: '無法獲取會員信息'
                });
            }
        })
        .fail(function() {
            Swal.fire({
                icon: 'error',
                title: '錯誤',
                text: '無法獲取會員信息'
            });
        });
}
function resetToOriginalData() {
    document.getElementById('editMemName').value = originalMemData.memName;
    document.getElementById('editMemEmail').value = originalMemData.memEmail;
    document.getElementById('editMemPhone').value = originalMemData.memPhone;
    document.getElementById('editMemUid').value = originalMemData.memUid;
    document.getElementById('editMemDob').value = originalMemData.memDob;
    document.getElementById('editMemSex').value = originalMemData.memSex;
}

</script>
</html>