<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>所有請假資料 - listAllLeave.html</title>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />
<link rel="stylesheet" th:href="@{/css/leave.css}"/>
<script th:src="@{/js/leave.js}"></script>


<style type="text/css">
body {
	margin: 1rem 12rem 2rem 12rem;
}
.dataTables_wrapper .dataTables_sort_desc:after,
.dataTables_wrapper .dataTables_sort_asc:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: contain;
    content: "";
}


.dataTables_wrapper .dataTables_sort_desc,
.dataTables_wrapper .dataTables_sort_asc {
    background-color: #f8f9fa;
    color: #007bff;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center"></nav>
	<div align="center"><h2>所有請假資料</h2></div>
    <div class="main-container">
        <!-- 分頁切換按鈕 -->
        <div class="tabs">
            <button class="tab-button active" data-tab="pending">待審核</button>
            <button class="tab-button" data-tab="approved">審核通過</button>
            <button class="tab-button" data-tab="rejected">不通過</button>
            <button class="tab-button" data-tab="all">所有紀錄</button>
        </div>
        <div class="tab-content">
            <!-- 待審核內容 -->
            <div class="tab-pane active" id="pending">
                <form method="post" th:action="@{/leave/updateapproval}" style="margin-bottom: 0px;">
                    <table class="schedule-table">
                        <thead>
                            <tr>
                                <th>申請日期</th>
                                <th>請假員工</th>
                                <th>請假日期</th>
                                <th>代班員工</th>
                                <th>核准日期</th>
                                <th>核准狀態</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="leaveVO : ${leaveListData}">
                                <th:block th:if="${leaveVO.leaveStatus == 0}">
                                    <tr>
                                        <td th:text="${leaveVO.leaveFilingdate}"></td>
                                        <td th:text="${leaveVO.leaveEmpId.empName}"></td>
                                        <td th:text="${leaveVO.leaveDate}" th:value="${leaveVO.leaveDate}"></td>
                                        <td th:text="${leaveVO.leaveAssigneeId.empName}"></td>
                                        <td th:text="${leaveVO.leaveApprovaldate}"></td>
                                        <td th:text="'待審核'"></td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </tbody>
                    </table>
                </form>
            </div>
            
            <!-- 審核通過內容 -->
            <div class="tab-pane" id="approved">
                <table class="schedule-table">
                    <thead>
                        <tr>
                            <th>申請日期</th>
                            <th>請假員工</th>
                            <th>請假日期</th>
                            <th>代班員工</th>
                            <th>核准日期</th>
                            <th>核准狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="leaveVO : ${leaveListData}">
                            <th:block th:if="${leaveVO.leaveStatus == 1}">
                                <tr>
                                    <td th:text="${leaveVO.leaveFilingdate}"></td>
                                    <td th:text="${leaveVO.leaveEmpId.empName}"></td>
                                    <td th:text="${leaveVO.leaveDate}"></td>
                                    <td th:text="${leaveVO.leaveAssigneeId.empName}"></td>
                                    <td th:text="${leaveVO.leaveApprovaldate}"></td>
                                    <td th:text="'審核通過'"></td>
                                </tr>
                            </th:block>
                        </th:block>
                    </tbody>
                </table>
            </div>

            <!-- 不通過內容 -->
            <div class="tab-pane" id="rejected">
                <table class="schedule-table">
                    <thead>
                        <tr>
                            <th>申請日期</th>
                            <th>請假員工</th>
                            <th>請假日期</th>
                            <th>代班員工</th>
                            <th>核准日期</th>
                            <th>核准狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="leaveVO : ${leaveListData}">
                            <th:block th:if="${leaveVO.leaveStatus == 2}">
                                <tr>
                                    <td th:text="${leaveVO.leaveFilingdate}"></td>
                                    <td th:text="${leaveVO.leaveEmpId.empName}"></td>
                                    <td th:text="${leaveVO.leaveDate}"></td>
                                    <td th:text="${leaveVO.leaveAssigneeId.empName}"></td>
                                    <td th:text="${leaveVO.leaveApprovaldate}"></td>
                                    <td th:text="'審核不通過'"></td>
                                </tr>
                            </th:block>
                        </th:block>
                    </tbody>
                </table>
            </div>

            <!-- 所有紀錄內容 -->
            <div class="tab-pane" id="all">
                <table class="schedule-table">
                    <thead>
                        <tr>
                            <th>申請日期</th>
                            <th>請假員工</th>
                            <th>請假日期</th>
                            <th>代班員工</th>
                            <th>核准日期</th>
                            <th>核准狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="leaveVO : ${leaveListData}">
                            <tr>
                                <td th:text="${leaveVO.leaveFilingdate}"></td>
                                <td th:text="${leaveVO.leaveEmpId.empName}"></td>
                                <td th:text="${leaveVO.leaveDate}"></td>
                                <td th:text="${leaveVO.leaveAssigneeId.empName}"></td>
                                <td th:text="${leaveVO.leaveApprovaldate}"></td>
                                <td>
                                    <span th:switch="${leaveVO.leaveStatus}">
                                        <span th:case="0">未審核</span>
                                        <span th:case="1">審核通過</span>
                                        <span th:case="2">審核不通過</span>
                                    </span>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:inline="none">
    $(document).ready(function() {
        var table = $('.schedule-table').DataTable({
            "order": [[0, "desc"]],
        "language": {
            "lengthMenu": "每頁顯示 _MENU_ 筆記錄",
            "zeroRecords": "沒有找到記錄",
            "info": "顯示第 _PAGE_ 頁，共 _PAGES_ 頁",
            "infoEmpty": "無可用記錄",
            "infoFiltered": "(從 _MAX_ 筆記錄中過濾)",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "last": "最後一頁",
                "next": "下一頁",
                "previous": "上一頁"
            }
        }
    });

        // 控制分頁顯示
        $('.tab-button').on('click', function() {
            var tab = $(this).data('tab');
            $('.tab-pane').removeClass('active');
            $('#' + tab).addClass('active');
            
            // 重新繪製表格
            table.draw();
        });

        // 初始化顯示第一個分頁
        $('.tab-button[data-tab="pending"]').click();
    });
    </script>
</body>
</html>
