<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>G by C</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
<link rel="stylesheet" th:href="@{/css/index2.css}" />
<link rel="stylesheet" th:href="@{/css/customSettings.css}" />
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	<div class="main-container">
		<div th:replace="fragments/header-items :: navigation"></div>
		<div class="customSettings">
			<div class="form-section">
				<h1>修改密碼</h1>
				<form id="updatePasswordForm">
					<div>
						<label for="newPassword">新密碼:</label> <input type="password"
							id="newPassword" name="newPassword" required />
					</div>
					<div>
						<label for="confirmPassword">確認新密碼:</label> <input type="password"
							id="confirmPassword" name="confirmPassword" required />
					</div>
					<button type="button" onclick="updatePassword()" id="updatePassword">更新密碼</button>
				</form>
			</div>
		</div>
	</div>


	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>

	<script th:inline="javascript">
	var baseUrl = /*[[@{/}]]*/ '/';
	
		function redirectTo(url) {
			window.location.href = url;
		}

		function updatePassword() {
			var newPassword = document.getElementById('newPassword').value;
			var confirmPassword = document.getElementById('confirmPassword').value;

			if (newPassword !== confirmPassword) {
				alert("新密碼與確認密碼不一致");
				return;
			}

			var updatePasswordData = {
				newPassword : newPassword,
			
			};

			$.ajax({
				type : "POST",
				url : /*[[@{/api/updatePassword}]]*/"",
				contentType : "application/json",
				data : JSON.stringify(updatePasswordData),
				success : function(response) {
					alert("密碼修改成功");
					window.location.href = /*[[@{/index2}]]*/"";
				},
				error : function(xhr) {
					alert("密碼更新失敗: " + xhr.responseText);
				}
			});
		}
	</script>
</body>
</html>