<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>餐點客製化明細資料 - listOneMeal.html</title>
    <head th:insert="~{/back-end/meal/included-fragment}"></head>
    <style type="text/css">
        span {
            display: inline-block;
            width: 150px;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center">
        <h2>每筆餐點客製化明細資料 - listOneMeal.html</h2>
        <h3><a class="navbar-brand" th:href="@{/meal/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3>
    </div>
</nav>

<div align="center" th:fragment="listOneMealDiv"> <!-- 此div被select_page.html第158行insert用 -->
    <h3><span>餐點客製化明細查詢結果 :</span></h3>
    <span>餐點客製化明細編號:</span><span th:text="${mealVO.customId}"></span><br/>
    <span>訂單明細編號:</span><span th:text="${mealVO.orddId}"></span><br/>
    <span>客製化選項編號:</span><span th:text="${mealVO.custId}"></span><br/>
</div>

</body>
</html>
