<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LINE Pay 付款 - line_pay.html</title>
    <head th:insert="~{/back-end/shop/included-fragment}"></head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin: 1rem 2rem;
        }

        .container {
            max-width: 600px;
            margin-top: 80px;
        }

        .navbar-brand img {
            height: 30px;
            margin-right: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
    <div class="container">
        <h2 class="text-center text-white mx-auto">LINE Pay 付款</h2>
        <a class="navbar-brand" th:href="@{/shop/select_page}">
            <img th:src="@{/images/back1.gif}" alt="返回查詢頁">返回查詢頁
        </a>
    </div>
</nav>

<div class="container">
    <h3 class="text-center">請填寫您的 LINE Pay 資料</h3>
    <form id="linePayForm" th:action="@{/shop/line_pay_process}" method="post" onsubmit="return handleFormSubmit()">
        <div class="form-group">
            <label for="lineId">LINE ID:</label>
            <input type="text" class="form-control" id="lineId" name="lineId" required autocomplete="username">
        </div>
        <div class="form-group">
            <label for="linePassword">LINE 密碼:</label>
            <input type="password" class="form-control" id="linePassword" name="linePassword" required autocomplete="current-password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">提交</button>
    </form>
</div>

<script>
    function handleFormSubmit() {
        document.getElementById("linePayForm").action = "/shop/line_pay_process";
        return true;
    }

    // 預設填入帳號和密碼（僅測試用，請勿在生產環境使用）
    window.onload = function() {
        document.getElementById("lineId").value = "etr5032322";
        document.getElementById("linePassword").value = "yourDefaultPassword";
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
