<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>購物車項目詳情 - listOneItem.html</title>
    <head th:insert="~{/back-end/shop/included-fragment}"></head>
    <style type="text/css">
        span {
            display: inline-block;
            width: 150px;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center">
        <h2>購物車項目詳情 - listOneItem.html</h2>
        <h3><a class="navbar-brand" th:href="@{/shop/select_page}"><img th:src="@{/images/back1.gif}">返回查詢頁<label th:text="${success}"></label></a></h3>
    </div>
</nav>

<div align="center" th:fragment="listOneItemDiv">
    <h3><span>購物車項目查詢結果 :</span></h3>
    <span>項目編號:</span><span th:text="${shopVO.itemId}"></span><br>
    <span>餐點編號:</span><span th:text="${shopVO.mealsId}"></span><br>
    <span>會員編號:</span><span th:text="${shopVO.memNo}"></span><br>
    <span>數量:</span><span th:text="${shopVO.quantity}"></span><br>
    <span>單價:</span><span th:text="${shopVO.unitPrice}"></span><br>
    <span>總價:</span><span th:text="${shopVO.totalPrice}"></span><br>
</div>

</body>
</html>
