<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>所有訂位</title>
    <link rel="stylesheet" th:href="@{/css/index3.css}">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
            src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />
    <link rel="stylesheet" th:href="@{/css/res.css}" />
    <script th:src="@{/js/res.js}"></script>
    <style type="text/css">
        .right-pane {
            width: 77%; /* 调整頁面的寬度 */
            margin-right: 20px;
            text-align: center;
        }


        .dataTables_wrapper .dataTables_filter {
            margin-bottom: 10px; /* 搜尋框與表格的距離 */
        }
    </style>
</head>

<body>
<div class="main-container">
    <div th:replace="fragments/back-end-header-items :: sidebar1"></div>

    <div class="right-pane">
        <div align="center">
            <h2>MorningCode 所有訂位</h2>

        </div>


            <div class="tabs">
                <button class="tab-button active" data-tab="all">所有紀錄</button>
                <button class="tab-button" data-tab="confirm">已確認訂位</button>
                <button class="tab-button" data-tab="finish">已完成</button>
                <button class="tab-button" data-tab="cancel">已取消</button>
                <button class="tab-button" data-tab="overtime">超時取消</button>
            </div>
        <div class="tab-content">
            <div class="tab-pane" id="all">
                <table class="schedule-table">
                    <thead>
                    <tr>
                        <th>訂位編號</th>
                        <th>會員名稱</th>
                        <th>預約手機號碼</th>
                        <th>用餐日期</th>
                        <th>訂位人數</th>
                        <th>訂位時段</th>
                        <th>訂位時間</th>

                        <th>桌型人數</th>
                        <th>桌數</th>
                        <th>訂位備註</th>
                        <th>訂位狀態</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="resVO : ${resListData}">
                        <tr>
                            <td th:text="${resVO.reservationId}"></td>
                            <td th:text="${resVO.memVO.memName}"></td>
                            <td th:text="${resVO.reservationPhone}"></td>
                            <td th:text="${resVO.reservationEatdate}"></td>
                            <td th:text="${resVO.reservationNum}"></td>
                            <td th:text="${resVO.resTimeVO.reservationTime}"></td>
                            <td th:text="${resVO.reservationDate}"></td>

                            <td th:text="${resVO.tableTypeVO.tableType}"></td>
                            <td th:text="${resVO.reservationTable}"></td>
                            <td th:text="${resVO.reservationNote}"></td>
                            <td><span th:switch="${resVO.reservationStatus}">
                                <span th:case="0">已確認</span><span th:case="1">已完成</span>
                                <span th:case="2">已取消</span><span th:case="3">超時取消</span>
                            </span></td>
                            <td>
                                <form method="post" th:action="@{/res/backendupdate}" style="margin-bottom: 0px;">
                                    <input type="submit" value="修改">
                                    <input type="hidden" name="reservationId" th:value="${resVO.reservationId}">
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>

            <div class="tab-content">
                <!-- 已確認 -->
                <div class="tab-pane" id="confirm">
                    <table class="schedule-table">
                        <thead>
                        <tr>
                            <th>訂位編號</th>
                            <th>會員名稱</th>
                            <th>預約手機號碼</th>
                            <th>用餐日期</th>
                            <th>訂位人數</th>
                            <th>訂位時段</th>
                            <th>訂位時間</th>

                            <th>桌型人數</th>
                            <th>桌數</th>

                            <th>訂位備註</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="resVO : ${resListData}">
                            <th:block th:if="${resVO.reservationStatus == 0}">
                                <tr>
                                    <td th:text="${resVO.reservationId}"></td>
                                    <td th:text="${resVO.memVO.memName}"></td>
                                    <td th:text="${resVO.reservationPhone}"></td>
                                    <td th:text="${resVO.reservationEatdate}"></td>
                                    <td th:text="${resVO.reservationNum}"></td>
                                    <td th:text="${resVO.resTimeVO.reservationTime}"></td>
                                    <td th:text="${resVO.reservationDate}"></td>

                                    <td th:text="${resVO.tableTypeVO.tableType}"></td>
                                    <td th:text="${resVO.reservationTable}">

                                    <td th:text="${resVO.reservationNote}"></td>
                                    <td>
                                        <form method="post" th:action="@{/res/backendupdate}" style="margin-bottom: 0px;">
                                            <input type="submit" value="修改">
                                            <input type="hidden" name="reservationId" th:value="${resVO.reservationId}">
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane" id="finish">
                    <table class="schedule-table">
                        <thead>
                        <tr>
                            <th>訂位編號</th>
                            <th>會員名稱</th>
                            <th>預約手機號碼</th>
                            <th>用餐日期</th>
                            <th>訂位人數</th>
                            <th>訂位時段</th>
                            <th>訂位時間</th>

                            <th>桌型人數</th>
                            <th>桌數</th>
                            <th>訂位備註</th>

                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="resVO : ${resListData}">
                            <th:block th:if="${resVO.reservationStatus == 1}">
                                <tr>
                                    <td th:text="${resVO.reservationId}"></td>
                                    <td th:text="${resVO.memVO.memName}"></td>
                                    <td th:text="${resVO.reservationPhone}"></td>
                                    <td th:text="${resVO.reservationEatdate}"></td>
                                    <td th:text="${resVO.reservationNum}"></td>
                                    <td th:text="${resVO.resTimeVO.reservationTime}"></td>
                                    <td th:text="${resVO.reservationDate}"></td>

                                    <td th:text="${resVO.tableTypeVO.tableType}"></td>
                                    <td th:text="${resVO.reservationTable}"></td>
                                    <td th:text="${resVO.reservationNote}"></td>

                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>

                <!-- 待確認 -->
                <div class="tab-pane" id="cancel">
                    <table class="schedule-table">
                        <thead>
                        <tr>
                            <th>訂位編號</th>
                            <th>會員名稱</th>
                            <th>預約手機號碼</th>
                            <th>用餐日期</th>
                            <th>訂位人數</th>
                            <th>訂位時段</th>
                            <th>訂位時間</th>

                            <th>桌型人數</th>
                            <th>桌數</th>
                            <th>訂位備註</th>

                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="resVO : ${resListData}">
                            <th:block th:if="${resVO.reservationStatus == '2'}">
                                <tr>
                                    <td th:text="${resVO.reservationId}"></td>
                                    <td th:text="${resVO.memVO.memName}"></td>
                                    <td th:text="${resVO.reservationPhone}"></td>
                                    <td th:text="${resVO.reservationEatdate}"></td>
                                    <td th:text="${resVO.reservationNum}"></td>
                                    <td th:text="${resVO.resTimeVO.reservationTime}"></td>
                                    <td th:text="${resVO.reservationDate}"></td>

                                    <td th:text="${resVO.tableTypeVO.tableType}"></td>
                                    <td th:text="${resVO.reservationTable}"></td>
                                    <td th:text="${resVO.reservationNote}"></td>

                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="overtime">
                    <table class="schedule-table">
                        <thead>
                        <tr>
                            <th>訂位編號</th>
                            <th>會員名稱</th>
                            <th>預約手機號碼</th>
                            <th>用餐日期</th>
                            <th>訂位人數</th>
                            <th>訂位時段</th>
                            <th>訂位時間</th>

                            <th>桌型人數</th>
                            <th>桌數</th>
                            <th>訂位備註</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="resVO : ${resListData}">
                            <th:block th:if="${resVO.reservationStatus == '2'}">
                                <tr>
                                    <td th:text="${resVO.reservationId}"></td>
                                    <td th:text="${resVO.memVO.memName}"></td>
                                    <td th:text="${resVO.reservationPhone}"></td>
                                    <td th:text="${resVO.reservationEatdate}"></td>
                                    <td th:text="${resVO.reservationNum}"></td>
                                    <td th:text="${resVO.resTimeVO.reservationTime}"></td>
                                    <td th:text="${resVO.reservationDate}"></td>

                                    <td th:text="${resVO.tableTypeVO.tableType}"></td>
                                    <td th:text="${resVO.reservationTable}"></td>
                                    <td th:text="${resVO.reservationNote}"></td>
                                    <td>
                                        <form method="post" th:action="@{/res/backendupdate}" style="margin-bottom: 0px;">
                                            <input type="submit" value="修改">
                                            <input type="hidden" name="reservationId" th:value="${resVO.reservationId}">
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>

                <!-- 所有紀錄 -->

            </div>

    </div>
</div>

<script th:inline="none">
    $(document).ready(function() {
        var table = $('.schedule-table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100],
            "searching": true,
            "paging": true,
            "ordering": true,
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 筆結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "search": "搜尋:",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending": ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            }
        });



        // 初始化顯示第一個分頁
        $('.tab-button[data-tab="all"]').click();
    });

    $("a.aa").on("click", function() {
        console.log(this);
        var $li = $(this).closest("li");
        $li.find("div.menu-item-1").slideToggle();
        $li.siblings().find(".menu-item-1").slideUp();
    });

    function redirectTo(url) {
        window.location.href = url;
    }
</script>
</body>

</html>
