








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>餐點修改 - update_meals_input.html</title>

<head th:insert="~{/back-end/meals/included-fragment}"></head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>餐點類別修改 - update_mealstypes_input.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/meals/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{/mealstypes/update}" method="post" th:object="${mealstypesVO}">
		
			<div>
			<label>餐點類別編號:</label>
			<input type="text" th:field="*{mealsTypesId}" style="border:0px ; font-weight: bold;" readonly="readonly" /><br/>
			</div>
			
			<div>
			<label>餐點類別名稱:</label>
			<input type="text" th:field="*{mealsTypesName}" onclick="hideContent('mealsTypesName.errors');" /><br/>
			<span th:if="${#fields.hasErrors('mealsTypesName')}" th:errors="*{mealsTypesName}" class="error" id="mealsTypesName.errors"></span>
			</div>
		
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}


</script>

</body>
</html>