<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料 - listOneEmp.html</title>

<head th:insert="~{/back-end/resc/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>桌型資料 - listOneRes.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/resc/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneRes-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>桌型控制編號:</span><span th:text="${resCVO.reservationControlId}"></span><br/>
		<span>營業日期:</span><span th:text="${resCVO.reasrvationControlDate}"></span><br/>
		<span>每桌訂位狀況:</span><span th:text="${resCVO.reasrvationControlTable}"></span><br/>
		<span>桌型人數:</span><span th:text="${resCVO.tableTypeVO.tableType}"></span><br/>
		
	</div>


</body>
</html>