<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文章詳細資料</title>

  <style>
    h3 {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h3 th:text="${forumPostVO.postTitle}"></h3>
  <span class="post_time">Posted on <span th:text="${forumPostVO.postTime}"></span> by <span th:text="${forumPostVO.memVO.memName}"></span>
  </span>
  <h3 th:text="${forumPostVO.postContent}"></h3>

  <div class="btn_setting_wrapper">
    <span class="btn_setting"><i class="fa fa-cog" aria-hidden="true"></i></span>
    <div class="setting_btn_collect show">
      <!-- 點擊編輯 -->
      <form method="post" th:action="@{/forum/editPost}">
        <button type="submit" class="btn_edit_post">編輯</button>
        <input type="hidden" name="postId" th:value="${forumPostVO.postId}">
      </form>
      <!-- 點擊刪除 -->
      <form method="post" th:action="@{/forum/delete}">
        <button type="button" class="btn_delete_post">刪除</button>
        <input type="hidden" name="postId" th:value="${forumPostVO.postId}">
      </form>
    </div>

  </div>

  <div class="reply_area">
    <ul id="reply_area_ul">
      <th:block th:each="reply : ${forumPostVO.replies}">
        <li>
          <div>
            <span th:text="${reply.forumPostVO.memVO.memName}"></span>
            <br>
            <span th:text="${reply.replyTime}"></span>
            <br>
            <span th:text="${reply.replyContent}"></span>
          </div>
            <button type="button" class="btn_delete_post" th:data-replyId="${reply.replyId}">刪除</button>
        </li>
      </th:block>
    </ul>
    <div>
      <span>回覆</span>
        <textarea id="reply_content"></textarea>
      	<button type="button" id="btn_submit_reply" th:data-postId="${forumPostVO.postId}">送出</button>
    </div>
  </div>

  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function () {

      // 點擊刪除按鈕
      $(".btn_delete_post").on("click", function (e) {
        let r = confirm('是否刪除留言?');
        if (r === true) {
          var replyId = $(this).attr('data-replyId');
          var liItem = $(this).closest('li');

          deleteReply(replyId, liItem);
        }

      });

      // 新增回覆按鈕
      $("#btn_submit_reply").on("click", function (e) {
        var postId = $(this).attr('data-postId');
        var replyContent = $("#reply_content").val();
        $.ajax({
          url: 'forum/addReply',
          method: 'post',
          data: {
            postId: postId,
        	  replyContent: replyContent
          },
          success: function (reply) {
        	  console.log(reply);
        	  if ( reply ) {
        		  let reply_li_html = get_li_html(reply);
                  $('#reply_area_ul').append(reply_li_html);
                  $("#reply_content").val('');
        	  }
        	  else {
        		  alert('新增失敗');
        	  }
          },
          error: function (error) {
        	  alert('新增失敗');
          }
        });
      });
    });

    // 送出刪除回覆請求
    function deleteReply(replyId, liItem) {
      var formData = 'replyId=' + encodeURIComponent(replyId)

      $.ajax({
        url: 'forum/deleteReply',
        method: 'post',
        data: formData,
        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        success: function (response) {
          console.log('Success:', response);
          if ( response === 'success' ) {
            liItem.remove();
          }
        },
        error: function (error) {
          console.log('Error:', error);
        }
      });
    }

    // 新增的回覆轉成HTML
    function get_li_html(reply) {
    	console.log(reply);
      return `
      <li>
        <div>
          <span>${reply.memVO.memName}</span>
          <br>
          <span>${reply.replyTime}</span>
          <br>
          <span>${reply.replyContent}</span>
        </div>
        <button type="button" class="btn_delete_post" data-replyId=${reply.replyId}>刪除</button>
      </li>
      `
    }

  </script>

</body>

</html>