








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>訂單資料修改 - update_order_input.html</title>

<head th:insert="~{/back-end/order/included-fragment}"></head>
<style type="text/css">
        
        button {
                padding: 5px;
        }
        form {
                display: table;
        }
        form div {
                display: table-row;
        }
        label, input, span, select {
                display: table-cell;
                margin: 5px;
                text-align: left;                
        }
        input[type=text], input[type=password], select, textarea {
                width: 200px;
                margin: 5px;
        }
        form div div {
                display: table-cell;
        }
        .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
                 <div align="center"> <h2>訂單資料修改 - update_order_input.html</h2>
                 <h3><a class="navbar-brand" th:href="@{/order/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

        <div align="center">
		<h3>
			<b>所有欄位皆為必填欄位</b>
		</h3>
		<form id="submitForm" th:action="@{update}" method="post" th:object="${orderVO}"
			enctype="multipart/form-data">
			<div>
				<label>訂單編號:</label> <input type="text" th:field="*{ordId}"
					style="border: 0px; font-weight: bold;" readonly /><br />

			</div>

			<div>
			    <label>訂單種類:</label>
			    <select th:field="*{ordType}" onclick="hideContent('ordType.errors');">			        
			        <option value="0" th:text="#{order.type.takeout}" selected>外帶</option>
			        <option value="1" th:text="#{order.type.dinein}">內用</option>
			    </select><br />
			    <span th:if="${#fields.hasErrors('ordType')}" th:errors="*{ordType}" class="error" id="ordType.errors"></span>
			</div>

			<div>
				<label>總金額:</label> <input type="text" th:field="*{ordAmount}"
					onclick="hideContent('ordAmount.errors');" /><br /> <span
					th:if="${#fields.hasErrors('ordAmount')}" th:errors="*{ordAmount}"
					class="error" id="ordAmount.errors"></span>
			</div>
			
			<div>
			    <label>製作狀態:</label>
			    <select th:field="*{ordStatus}" onclick="hideContent('ordStatus.errors');">
			        <option value="0" th:text="#{order.status.accepted}">已接單</option>
			        <option value="1" th:text="#{order.status.preparing}">餐點製作中</option>
			        <option value="2" th:text="#{order.status.completed}">餐點已完成</option>
			        <option value="3" th:text="#{order.status.received}">餐點已領取</option>
			        <option value="4" th:text="#{order.status.cancelled}">訂單取消</option>
			    </select><br />
			    <span th:if="${#fields.hasErrors('ordStatus')}" th:errors="*{ordStatus}" class="error" id="ordStatus.errors"></span>
			</div>

			<div>
			    <label>成立訂單日期:</label> 
			    <input type="text" id="ordBuilddate" name="ordBuilddate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"
			           readonly />
			</div>
	
			<div>
			    <label>預約時間:</label> 
			    <input type="text" id="ordReserveTime" name="ordReserveTime" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"/>
			</div>
   			
			<div>
			    <label for="ordPaymentStatus">付款狀態:</label>
			    <select id="ordPaymentStatus" name="ordPaymentStatus" th:field="*{ordPaymentStatus}" onclick="hideContent('ordPaymentStatus.errors');">
			        <option value="0">未付款</option>
			        <option value="1">已付款</option>
			        <option value="2">已申請退款</option>
			        <option value="3">退款完成</option>
			    </select>
			    <span th:if="${#fields.hasErrors('ordPaymentStatus')}" th:errors="*{ordPaymentStatus}" class="error" id="ordPaymentStatus.errors"></span>
			</div>
			
			<div>
				<label>會員:</label> <select th:field="*{memVO.memNo}">
					<option th:each="memVO : ${memListData}"
						th:value="${memVO.memNo}" th:text="${memVO.memName}" />
				</select> <span th:if="${#fields.hasErrors('memVO.memNo')}"
					th:errors="*{memVO.memNo}" class="error"
					id="memVO.memNo.errors"></span>
			</div>
	
			<div>
				<div></div>
				<div>
					<button type="submit" id="submit">送出修改</button>
				</div>
				<div></div>
			</div>
		</form>

	</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>    
<script>
    // 自動填入當下的年月日時分秒
    document.addEventListener('DOMContentLoaded', function() {
        let currentDate = new Date();
        let year = currentDate.getFullYear();
        let month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
        let day = ('0' + currentDate.getDate()).slice(-2);
        let hours = ('0' + currentDate.getHours()).slice(-2);
        let minutes = ('0' + currentDate.getMinutes()).slice(-2);
        let seconds = ('0' + currentDate.getSeconds()).slice(-2);
        
        let formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        document.getElementById('ordBuilddate').value = formattedDate;
    });
    
</script>
</html>