<html xmlns:th="http://www.thymeleaf.org">



<div th:fragment="sidebar1">
	<div class="sidebar">

		<a class="read-test-version" th:href="@{/index3}"><img
			th:src="@{/images/logo.png}" class="imgsmall"></a>
		<ul class="list">

			<div th:if="${session.empVO != null}" class="welcome-message">
				<span class="admin-account-management">您好： <span
					th:text="${session.empVO.empName}"></span></span> <span>
					<p th:text="${#lists.size(session.empPermissions)}"></p>
					<ul>
						<li th:each="permission : ${session.empPermissions}"
							th:text="${permission.functionId}"></li>
					</ul>
				</span>

			</div>









			<form th:if="${session.empVO == null}" th:action="@{/back-end/emplogin}"
				method="post">
				<button type="submit" class="emp-login btn-1">
					<span class="login-register">登入</span>
				</button>
			</form>
			<form th:if="${session.empVO != null}" th:action="@{/back-end/emplogout}"
				method="post">
				<button type="submit" class="emp-login btn-1">
					<span class="login-register">登出</span>
				</button>
			</form>


			<li><a class="aa">
					<button class="menu-item">
						<span class="employee-management">員工管理</span>
					</button>
			</a>

				<div class="menu-item-1">
					<a class="admin-account-management"
						th:href="@{/back-end/emp/listAllEmp}">管理員帳號管理</a>
				</div>
				<div class="menu-item-1">
						<a class="schedule-edit" th:href="@{/back-end/assign/addAssign}">排班編輯</a>
				</div>
				<div class="menu-item-1">
					<a class="leave-approval" th:href="@{/back-end/leave/listAllLeave}">請假核准</a>
				</div></li>


			<li><a class="aa">
					<button class="menu-item">
						<span class="front-end-customer-management">前台客戶相關管理</span>
					</button>
			</a>
				<div class="menu-item-1">

					<a class="member-management" th:href="@{/back-end/mem/listAllMem}">會員管理</a>
				</div>
				<div class="menu-item-1">
					<a class="order-management" th:href="@{/order/select_page}"  >訂單管理</a>
				</div>
				<div class="menu-item-1">
					<a class="meal-collection" th:href="@{/ordd/meals_status}"  >領餐作業</a>
				</div></li>

			<li><a class="aa" th:href="@{/news/all}">
					<button class="menu-item">
						<span class="latest-news-management">最新消息管理</span>
					</button>
			</a></li>

			<li><a class="aa">
					<button class="menu-item">
						<span class="customer-service-related-management">客服相關管理</span>
					</button>
			</a>

				<div class="menu-item-1">
					<a class="aa" th:href="@{/forum/reports}">
					<span class="forum-report-management">討論區檢舉管理</span>
					</a>
				</div>
				<div class="menu-item-1">
					<a class="aa" th:href="@{/back-end/customer-service}">
					<span class="customer-service-function-management">客服功能管理</span>
					</a>
				</div></li>

			<li><a class="aa">
					<button class="menu-item">
						<span class="menu-related-settings">菜單相關設定</span>
					</button>
			</a>

				<div class="menu-item-1">
					<a class="menu-management"
						th:href="@{/back-end/meals/listAllMeals}">菜單管理</a>
				</div>

				<div class="menu-item-1">
					<a class="meal-project-management"
					th:href="@{/back-end/mealstypes/listAllMealsTypes}">餐點項目管理</a>
				</div></li>

			<li><a class="aa">
					<button class="menu-item">
						<span class="reservation-related-management">訂位相關管理</span>
					</button>
			</a>

				<div class="menu-item-1">

					<a class="member-management" th:href="@{/back-end/res/listAllRes}">訂位管理</a>
				</div>
				<div class="menu-item-1">

					<a class="member-management" th:href="@{/back-end/tabletype/listAllTableType}">桌位管理</a>
				</div>
				<div class="menu-item-1">
					<a class="set-opening-hours" th:href="@{/back-end/restime/listAllResTime}">開放時間管理</a>
				</div></li>
				

				<li><a class="aa" th:href="@{/back-end/leave/listAllLeaveforEmp}">

					<button class="menu-item">
						<span class="leave-apply">請假申請</span>
					</button>
			</a></li>
				
				<li><a class="aa" th:href="@{/back-end/assign/listAllAssign}">
					<button class="menu-item">
						<span class="check-shift">查看排班</span>
					</button>
			</a></li>
		</ul>
	</div>
</div>