body {
    font-family: 'Arial', sans-serif;
    background-color: #fcfcfc;
}

.container {
    max-width: 1000px;
    margin: 20px auto; 
    background-color: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px; 
    font-size: 32px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px; 
    margin-top: 20px; 
}

.day {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
}

.day-header {
    font-weight: bold;
    background-color: #e9ecef; 
    padding: 10px;
    border-radius: 8px; /* 圓滑邊角 */
}

.day-label {
    background-color: #b8d3c4;
    color: white; /* 白色字體 */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd; 
    box-shadow: inset 1px -1px 2px 0px rgba(0, 0, 0, 0.1);
    
}

#yearSelect, #monthSelect {
    width: auto;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

.month-selector {
    margin: 20px 0;
    text-align: center;
}

.month-selector select {
    padding: 8px 15px;
    margin: 0 5px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn.save {
    background-color: #88bbb0; 
    color: white;
}

.btn.save:hover {
    background-color: #60a495;
}

.btn.edit {
    background-color: #f8f9fa;
    color: #6c757d;
    border: 1px solid #ced4da;
}


