.customSettings {
    width: 100%;
    max-width: 1000px;
    max-height: 400px; /* 設置最大高度 */
    -webkit-backface-visibility: hidden;/*關閉背面可見性  帥帥帥*/
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    box-sizing: border-box;
}

 .form-section input,
        .form-section select {
            flex-grow: 1;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        
        .form-section label {
            width: 100px; /* label寬度 */
            margin-right: 10px;
            text-align: right;
        }

.image-section {
    width: 30%; /* 右邊寬度 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customSettings div {
    margin-bottom: 10px;
}
        .form-section div,
        .image-section div {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

h2{
	
margin:5px ;	
}