.customSettings {
    width: 100%;
    max-width: 1000px;
    max-height: 450px; /* 設置最大高度 */
    -webkit-backface-visibility: hidden;/*關閉背面可見性  帥帥帥*/
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    box-sizing: border-box;
}
.form-section{
	width:400px;
}
 .form-section input,
        .form-section select {
            flex-grow: 1;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        
        .form-section label {
            width: 100px; /* label寬度 */
            margin-right: 10px;
            text-align: right;
        }

.image-section {
    width: 40%; /* 右邊寬度 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customSettings div {
    margin-bottom: 10px;
}
        .form-section div,
        .image-section div {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

h2{
	
margin:5px ;	
}
#password-button {
    background-color: red; /* 背景顏色設置為紅色 */
    color: white; /* 文字顏色設置為白色 */
    padding: 10px 20px; /* 按鈕內邊距 */
    border: none; /* 去除邊框 */
    cursor: pointer; /* 鼠標懸停時顯示手型 */
    border-radius: 5px; /* 圓角 */
    font-size: 14px; /* 字體大小 */
    text-align: center; /* 文字居中 */
    text-decoration: none; /* 去除下劃線 */
    width:100%;
  
}
#password-button:hover {
    background-color: darkred; /* 滑鼠懸停時的背景顏色 */
}
.main-container {
 
  height: 650px;
 
}
#updatebutton{
	background-color: #6D67E4;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	 border-radius: 5px;
	  margin-left: 0px;
	 font-size: 14px; /* 字體大小 */
	 text-align: center; /* 文字居中 */
    text-decoration: none; /* 去除下劃線 */
	       width:100%;
}
#updatePassword{
	background-color: #6D67E4;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	 border-radius: 5px;
	  margin-left: 110px;
	       width:200px;
	
}