:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  min-height: 600px;
  
  display: flex;
  justify-content: space-between;

}

.main-container,
.main-container * {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* input,
select,
textarea,
button {
  outline: 0;
} */


.sidebar {
  position: fixed;
  top: 0px;
  width: 256px;
  height:100vh;
  margin: 0 0 0 0;
  font-size: 0px;
  background: #ffffff;
  border-right: 1px solid #e0e0e0;
  overflow: hidden;
  z-index: 1000;
}
.read-test-version {
  display: block;
  /* position: relative; */
  height: 30px;
  margin: 24px 0 0 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 21;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  /* position: relative; */
  width: 240px;
  margin: 24px 0 0 8px;
  z-index: 1;
  
}
.menu-item {
  display: flex;
  align-items: center;  /* 垂直置中 */
  justify-content: center;  /* 水平置中 */
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  min-width: 0;
  width: 180px;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  background: #f7f7f7;
  border: none;
  z-index: 2;
  border-radius: 8px;
  text-align: center;  /* 文字水平置中 */
}

.employee-management,
.front-end-customer-management,
.latest-news-management,
.customer-service-related-management,
.menu-related-settings,
.reservation-related-management {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
 
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
  
}

.menu-item-1 {
  display: flex;
  align-items: center;  /* 垂直置中 */
  justify-content: center;  /* 水平置中 */
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  /* position: relative; */
  min-width: 0;
  height: 40px;
  padding: 0 16px 0 16px;
  background: #ffffff;
  z-index: 4;
  border-radius: 8px;
  display: none;
  text-align: center;  /* 文字水平中 */
}

.admin-account-management,
.schedule-edit,
.leave-approval,
.admin-permission,
.member-management,
.order-management,
.meal-collection,
.customer-service-function-management,
.forum-report-management,
.menu-management,
.meal-project-management,
.reservation-management,
.set-table-type,
.set-opening-hours {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
 cursor: pointer;  /*小手手*/
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 5;
 
}



.emp-login {
  width: 180px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.btn-1 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-1:hover {
  color: #fff;
}
.btn-1:hover:after {
  top: 0;
  height: 100%;
}
.btn-1:active {
  top: 2px;
}

.back-image{
	 width: 80%; /* 調整頁面的寬度 */
	  background: url(../images/2.png) no-repeat center;
}

body {

  margin:0px;
  font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
}
/* ul.list>li.-on{
 
  display: none;
} */
