body {
    font-family:Arial, sans-serif;
	background-color: #fcfcfc;
}

.form{
    display:inline;

}

.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    
}

.tab-button {
    color: #bebcbc;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    margin-right: 5px;
}

.tab-button.active {
    background-color: #ffff;
    color: rgba(0, 0, 0, 0.808);
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}

.filter-section {
    margin-bottom: 20px;
    float: right;
}

.filter-group {
    display: flex;
    align-items: center;
}

.filter-group label {
    margin-right: 10px;
}

.filter-group input, .filter-group select, .filter-group button {
    margin-right: 10px;
    padding: 5px;
    
}

.buttons {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;

}

.submit {
    background-color: #bfbab0;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    min-width: 90px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;

}
.submit:hover {
    background-color: #9e9789;


}


.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.schedule-table th {
    background-color: #f2f2f2;
}