<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>G by C</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
<link rel="stylesheet" th:href="@{/css/index2.css}" />
<link rel="stylesheet" th:href="@{/css/customSettings.css}" />
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
	
</head>
<body>

	<div class="main-container">
		<div th:replace="fragments/header-items :: navigation"></div>
		<div class="customSettings">
			<div class="form-section">
				<h1>重置密碼</h1>
				<form id="resetForm">
				 <input type="hidden" id="token" th:value="${param.token}">
					<div>
						<label for="newPassword">新密碼:</label> <input type="password"
							id="newPassword" name="newPassword" required />
					</div>
					<div>
						<label for="confirmPassword">確認新密碼:</label> <input type="password"
							id="confirmPassword" name="confirmPassword" required />
					</div>
					<button type="submit" id="updatePassword">更新密碼</button>
				</form>
			</div>
		</div>
	</div>
	
	
	
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>

	<script th:inline="javascript">
	var baseUrl = /*[[@{/}]]*/ '/';
	
	
		function redirectTo(url) {
			window.location.href = url;
		}
		
		
		$(function() {
            $('#resetForm').on('submit', function(e) {
                e.preventDefault();
                var newPassword = $('#newPassword').val();
                var confirmPassword = $('#confirmPassword').val();
                var token = $('#token').val();

                if (newPassword !== confirmPassword) {
                    alert('新密碼與確認密碼不一致');
                    return;
                }

                $.ajax({
                    url : /*[[@{/api/reset-password}]]*/"",
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        token: token,
                        newPassword: newPassword
                    }),
                    success: function(response) {
                        alert('密碼重置成功');
                        window.location.href = /*[[@{/index2}]]*/"";
                    },
                    error: function(xhr) {
                        alert('密碼重置失敗: ' + xhr.responseText);
                    }
                });
            });
        });
		</script>
</body>
</html>