








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>餐點資料 - listOneMeals.html</title>

<head th:insert="~{/back-end/meals/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>餐點資料 - listOneMeals.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/meals/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneMeals-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>餐點編號:</span><span th:text="${mealsVO.mealsId}"></span><br/>
		<span>餐點類別編號:</span><span th:text="${mealsVO.mealstypesVO.mealsTypesId} + '-[' + ${mealsVO.mealstypesVO.mealsTypesName} + ']'"></span><br/>
		<span>餐點名稱:</span><span th:text="${mealsVO.mealsName}"></span><br/>
		<span>價格:</span><span th:text="${mealsVO.mealsPrice}"></span><br/>
		<span>描述:</span><span th:text="${mealsVO.mealsDescription}"></span><br/>
		<span>控制:</span><span th:text="${mealsVO.mealsControl}"></span><br/>
		<span>餐點評價總評分:</span><span th:text="${mealsVO.mealsTotalScore}"></span><br/>
		<span>餐點評價總人數:</span><span th:text="${mealsVO.mealsTotalPeople}"></span><br/>
		<!-- <span>圖片</span><span th:text="${mealspicVO.mealsPic}"></span><br/> -->
	
	</div>


</body>
</html>