<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title th:text="${newsVO.newsTitle}"></title>

  <link rel="stylesheet" th:href="@{/css/index2.css}" />
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
  
  <style>
  	.h4 {
  		margin-bottom: 0 important!;
  	}
  </style>
</head>

<body>

  <div th:replace="fragments/header-items :: navigation"></div>
  
  <main class="main_content">
  
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" th:text="${newsVO.newsTitle}"></h4>
      </div>
      <div class="card-body">
        <p class="card-text">
          <span class="font-weight-bold">公告時間：</span>
          <span th:text="${#dates.format(newsVO.newsDate, 'yyyy.MM.dd')}"></span>
        </p>
        <p class="card-text" th:text="${newsVO.newsContent}"></p>
      </div>
    </div>
  </div>
  
  </main>


  <!-- 無樣式 -->
  <!-- <span th:text="${newsVO.newsTitle}"></span>
  <br>
  <span>公告時間：</span><span th:text="${#dates.format(newsVO.newsDate, 'yyyy.MM.dd')}"></span>
  <br>
  <span th:text="${newsVO.newsContent}"></span> -->

  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
  <script th:inline="javascript">
    var baseUrl = /*[[@{/}]]*/ '/';
    function redirectTo(url) {
      window.location.href = url;
    }
</script>
</body>

</html>